@model Project498.WebServer.Models.Comic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="reader-page">
    <div class="reader-header">
        <h2>@Model.Title</h2>
        <p class="meta">@Model.Author</p>
    </div>

    <iframe class="pdf-frame" src="@Model.PdfPath"></iframe>
</section>